.navbar{
    display: flex;
    background-color: rgb(180, 194, 194);
    font-family: cursive;
    

}

.navitems{
    display: flex;
    flex-direction: column;

}

.navitems a{

    padding: 10px;
}